@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #000000;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 2485px;
  margin: 0 0 0 auto;
  padding: 0 0 0 50px;
  z-index:-1;
}

.logo {
margin-bottom: 30px;
}

header {
  padding: 0px 0;
}


h2 {
  color: whitesmoke;
  font-size: 22px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.img img {
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.list_img {
  display: flex;
  overflow-x: auto;
  margin-bottom: 40px;
  width: 100%;
  
}

.list_img::-webkit-scrollbar {
  display: none;
}